:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  color-scheme: dark;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  //text select
  ::selection {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
}

.opciones {
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
  &.uk-grid {
    padding: 0;
    padding-top: 20px;
  }
  .uk-margin, .uk-margin-small {
    &:first-of-type {
      margin-top: 0 !important;
    }
    &:last-of-type {
      margin-bottom: 0 !important;
    }
  }
}

.form-label {
  margin-top: -32px;
  position: relative;
  display: block;
  background-color: #242424;
  padding: 0 5px;
  color: white;
  text-transform: uppercase;
  max-width: max-content;
  font-size: 15px;
  margin-left: -10px;
  margin-bottom: 10px;
  &.grid {
    margin-top: -72px;
    margin-left: -30px;
    @media (max-width: 1200px) {
      margin-top: -62px;
      margin-left: -20px;
    }
  }
  &.two {
    font-size: 12px;
  }
}

.uk-form-label {
  user-select: none;
}

.test {
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
}

.uk-label {
  //margin-top: 0px;
  margin-right: 5px;
}

.time {
  &.alert {
    animation: alertblink 0.5s infinite;
  }
  &.alert-end {
    animation: alertblink-end 0.5s 1;
    animation-fill-mode: forwards;
  }
}

@keyframes alertblink {
  0% {
    color: #f0f0f0;
  }
  50% {
    color: #ff0000;
  }
  100% {
    color: #f0f0f0;
  }
}

@keyframes alertblink-end {
  0% {
    color: #ffffff;
  }
  100% {
    color: #ff0000;
  }
}

.uk-icon > svg{
  margin-top: -3px;
}

.uk-disabled {
  opacity: 0.5;
}

@mixin nextBtnStyle($color) {
  transition: all 0.2s ease;
  background-color: $color;
  &:hover {
    background-color: darken($color, 5);
  }
  &:active {
    background-color: darken($color, 10);
  }
  &.kb-down {
    background-color: darken($color, 15);
    scale: 0.9;
  }
}

button {
  user-select: none;
  &.total {
    @include nextBtnStyle(#1e87f0);
  }
  &.block {
    @include nextBtnStyle(#faa05a);
  }
  &.pregunta{
    @include nextBtnStyle(#f0506e);
  }
  &.finalizar {
    @include nextBtnStyle(#34c38f);
  }
}

.legend {
  .icon {
    min-width: 15px;
    min-height: 15px;
    width: 15px;
    height: 15px;
    display: inline-block;
    &.total {
      background-color: #1e87f0;
    }
    &.block {
      background-color: #faa05a;
    }
    &.dimmed {
      opacity: 0.4  ;
    }
  }
}

.uk-modal-body {
  background-color: #242424;
}

.uk-modal-footer {
  background-color: #242424;
}

table {
  thead {
    background-color: hsl(0, 0%, 1%, 0.4);
  }
}

.uk-table-striped tbody tr:nth-of-type(odd), .uk-table-striped>tr:nth-of-type(odd) {
  background: hsla(0, 0%, 100%, 0.05);
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

br {
  user-select: none;
}